.App {
  max-width: 1400px;
  margin: 40px auto;
}

body {
  background-color: rgb(22, 96, 194);
  color: white;
  text-align: center;
  font-size: 1.3em;
  margin: 0;
}

button {
  background-color: rgb(7, 79, 138);
  cursor: pointer;
  padding: 7px 10px;
  font-weight: bold;
  font-size: 0.7em;
  border-radius: 15px;
}

button:hover {
  background: rgb(4, 62, 116);
  color: white;
}

.header{
  display: flex;
  justify-content: space-between;
}

.card-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 20px;
}
